---
import productsData from '../utils/productsData'

interface ProductData {
  id: number;
  name: string;
  category: string;
  price: number;
  image: string;
}

interface Props {
  products: ProductData[];
  category?:string;
}

const { products, category} = Astro.props;
const filterProducts=category
  ? products.filter((p:ProductData)=>p.category.toLocaleLowerCase()===category.toLocaleLowerCase())
  :products;
---
<div class="w-full h-full flex flex-wrap gap-4 justify-around py-[30px]">
  {filterProducts.slice(0, 20).map((product: ProductData) => (
    <div class="p-4 border border-[#ddd] w-[calc(19%)] bg-white shadow-lg transition-transform duration-300 hover:scale-105">
      <div class="product-image">
        <img src={product.image} alt={product.name} class="w-full h-auto" />

      </div>
      <div class="product-details text-center">
        <h2 class="product-name text-xl font-semibold">{product.name}</h2>
        <p class="product-category text-sm text-gray-600">{product.category}</p>
        <span class="product-price text-l text-blue-600">${product.price}</span>
      </div>
    </div>
  ))}
</div>
