---
import productsData from "../../utils/productsData";
import Principal from "../../layouts/Principal.astro";
import CategoryBar from "../../components/CategoryBar.astro";

export async function getStaticPaths() {
  const paths = productsData.map((product) => ({
    params: { id: product.id.toString() },
  }));

  return paths; 
}
const { id } = Astro.params; 
const product = productsData.find((p) => p.id.toString() === id);
if (!product) {
  throw new Error("Producto no encontrado");
}


---

<Principal>
	<CategoryBar/>
	
	<main class="bg-gradient-to-b from-[#1e1f27fe] to-[#4b4c59c1] w-full min-h-screen flex flex-col justify-center items-center px-4 py-6">
  <div class="w-full sm:w-[80%] flex flex-col sm:flex-row bg-[#00000095] rounded-xl overflow-hidden shadow-lg">
    
    <!-- Imagen -->
    <div class="w-full sm:w-[40%] flex justify-center items-center bg-gradient-to-b from-[#0f0f0f] via-[#1c1c1c] to-[#2a2a2a] p-4">
      <img src={product.image} alt={product.name} class="h-[200px] w-auto sm:w-[350px] sm:h-[400px] object-contain"/>
    </div>

    <!-- Contenido -->
    <div class="w-full sm:w-[60%] text-[#ddd] flex flex-col items-center justify-between p-4 gap-4">
      <div class="w-full">
        <h1 class="text-3xl sm:text-5xl font-bold mb-2 text-center">{product.name}</h1>
        <p class="text-lg sm:text-xl font-semibold mb-4 text-center">Categoría: {product.category}</p>
        <div class="w-full p-4 rounded-md">
          <p class="text-base sm:text-lg">{product.description}</p>
        </div>
      </div>
      <div class="w-full flex flex-row justify-between items-center mt-4 gap-4">
        <p class="text-xl font-semibold">Precio: ${product.price}</p>
        <button class="text-xl border px-4 py-2 rounded-xl transition duration-200 hover:bg-white hover:text-black">
          Añadir al carrito
        </button>
      </div>
    </div>

  </div>
</main>


</Principal>
